{% extends 'layout.html' %}
{% set title = gettext('admin.users.title') %}
{% block content %}
<h2 class="card-title">{{ title }}</h2>
<form method="get" action="{{ url_for('admin.users.index') }}" class="row">
    <div class="col-6">
        <div class="input-group mb-3">
            <span class="input-group-text" id="query-search"><i class="fa fa-search" aria-hidden="true"></i></span>
            <input type="text" class="form-control"  name="query" value="{{ query }}" onchange="this.form.submit()"  placeholder="{{ gettext('admin.users.search') }}" aria-describedby="query-search">
        </div>
    </div>
    <div class="col-6 ">
        <a href="{{ url_for('admin.users.create') }}" class="btn btn-secondary rounded-3 float-end">{{ gettext('admin.add') }}</a>
    </div>
</form>
{% if users|length > 0 %}
<table class="table">
<thead>
    <th class="col">{{ gettext('admin.users.user') }}</th>
    <th class="col">{{ gettext('admin.users.email') }}</th>
    <th class="col">{{ gettext('admin.users.role') }}</th>
    <th class="col">{{ gettext('admin.users.phone') }}</th>
    <th class="col">{{ gettext('admin.users.status') }}</th>
    <th class="col">{{ gettext('admin.actions') }}</th>
</thead>
 <tbody>
    {% for user in users%}
        <tr>
            <td>{{ user.first_name }} {{ user.last_name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.role_label }}</td>
            <td>{{ user.phone_number }}</td>
            <td>{{ user.status }}</td>
            <td>
                <a class="btn btn-light" href="{{ url_for('admin.users.edit', id=user.id) }}" >
                     <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
                 {% if request.session['auth_id'] != user.id %}
                    <a href="#" onclick="deleteUser({{ user.id }})" class="btn btn-danger">
                       <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </a>
                 {% endif %}
            </td>
        </tr>
    {% endfor %}
 </tbody>
</table>
 {% else %}
                <p class="mb-1 mt-1 p-2 ">{{ gettext('admin.no_items_found') }}</p>
{% endif %}

<script>
async function deleteUser(id) {
    if (!confirm("{{ gettext('admin.users.delete_confirmation') }}")) return;
    const res = await fetch(`/admin/users/${id}`, { method: "DELETE" });
    if (res.ok) {
        location.reload();
    } else {
        alert("{{ gettext('admin.failed_delete') }}");
    }
}
</script>
{% endblock %}