<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link href="{{ url_for('static', path='assets/css/bootstrap.min.css') }}" rel="stylesheet">
     <link href="{{ url_for('static', path='assets/css/font-awesome.min.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', path='assets/css/style.css') }}" rel="stylesheet"/>
</head>
<body>

    <!-- Top Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand text-dark fw-bold" href="#">{{ request.state.app_name }}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-user-circle-o fa-lg" aria-hidden="true"></i> {{ gettext('admin.menu.profile') }}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{{ url_for('admin.users.edit', id=request.session['auth_id']) }}"> {{ gettext('admin.menu.settings') }}</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{{ url_for('admin.auth.logout') }}"> {{ gettext('admin.menu.sing_out') }}</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">

            <!-- Sidebar -->
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse">
                <div class="position-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{ url_for('admin.dashboard') }}">
                                <i class="fa fa-dashboard" aria-hidden="true"></i> {{ gettext('admin.menu.dashboard')}}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('admin.users.index') }}">
                                <i class="fa fa-users" aria-hidden="true"></i> {{ gettext('admin.menu.users')}}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('admin.pages.index') }}">
                                <i class="fa fa-file-text" aria-hidden="true"></i> {{ gettext('admin.menu.pages')}}
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <!-- Main Content Area -->
            <main class="col-md-9 ms-sm-auto col-lg-10 main-content p-4">
            <div class="row mt-4">
                    <div class="col-12">
                        <div class="card p-4">
                            <div class="card-body">

                                   {% block content %}
                                   {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <footer class="footer mt-5 py-3 bg-light">
        <div class="container-fluid">
            <span class="text-muted text-center d-block">   ©
                            <script>
                                document.write(new Date().getFullYear() + ",");
                            </script>
                            made <i class="fa fa-heart"></i> by Webzards.</span>
        </div>
    </footer>

    <!-- Bootstrap 5 JavaScript -->
    <script src="{{ url_for('static', path='assets/js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>
