<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in - {{ request.state.app_name }}</title>
    <link href="{{ url_for('static', path='assets/css/bootstrap.min.css') }}" rel="stylesheet">
     <link href="{{ url_for('static', path='assets/css/font-awesome.min.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', path='assets/css/style.css') }}" rel="stylesheet"/>
</head>
<body>

     <div class="row mt-4 justify-content-md-center">
                    <div class="col-6">
                        <div class="card p-4">
                            <div class="card-body">
                                <h3 class="card-title">Sign in - {{ request.state.app_name }}</h3>
                                 {% include 'partials/error_msg.html' %}
                                 <form role="form" action="{{ request.url_for('login') }}" method="post">
                                    <div class="mb-3">
                                            <label for="email" class="form-label">Email address</label>
                                            <input type="email" name="email" class="form-control" id="email">
                                    </div>
                                     <div class="mb-3">
                                            <label for="password" class="form-label">Password</label>
                                            <input type="password" name="password" class="form-control" id="password">
                                    </div>
                                     <div class="mb-3">
                                         <div class="row">
                                             <div class="col-6">
                                                 <a href="#">Forgot password?</a>
                                             </div>
                                             <div class="col-6 d-flex justify-content-end">
                                                 <button type="submit" class="btn btn-primary rounded-3">Sign in</button>
                                             </div>
                                         </div>
                                     </div>
                                 </form>
                            </div>
                        </div>
                    </div>
                </div>
    <footer class="footer mt-5 py-3 bg-light">
        <div class="container-fluid">
            <span class="text-muted text-center d-block">   ©
                            <script>
                                document.write(new Date().getFullYear() + ",");
                            </script>
                            made <i class="fa fa-heart"></i> by Webzards.</span>
        </div>
    </footer>

    <!-- Bootstrap 5 JavaScript -->
    <script src="{{ url_for('static', path='assets/js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>
